/**index.wxss**/

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dingdan {
  width: 100%;
  background: linear-gradient(to right, #ffa14b, #fe5e69);
}
.ding{
  padding-left: 22rpx;
  height: 132rpx;
  background: linear-gradient(to right, #ffa14b, #fe5e69);
  position:fixed; top:0;width: 750rpx;
  border-bottom: 0.1rpx solid #fff;
  z-index: 999;
}
.ding2{
  height: 132rpx;
  margin: 0 auto;
}
.dingdan1 {
  width: 690rpx;
  height: 220rpx;
  margin: 0 auto;
}

.ding1 {
  position: relative;
  top: 42rpx;
  width: 48rpx;
  height: 64rpx;
  display: inline-block;
}

.text1 {
  font-size: 36rpx;
  color: #fff;
  font-weight: bolder;
}

.text4 {
  display: inline-block;
  position: relative;
  top: 20rpx;
}

.text3 {
  font-size: 28rpx;
  color: #fff;
  padding-top: 28rpx;
  padding-left: 30rpx;
}

.text2 {
  padding-top: 40rpx;
  padding-left: 30rpx;
}



.goods {
  width: 100%;
  position: relative;
  top: -28rpx;
}

.goods2 {
  width: 690rpx;
  height: 252rpx;
  background: #fff;
  margin: 0 auto;
  border-radius: 20rpx;
}

.goods3 {
  display: inline-block;
}

.goods3 image {
  width: 168rpx;
  height: 168rpx;
  margin-left: 30rpx;
  margin-top: 60rpx;
}

.goods4 {
  display: inline-block;
}

.goods5 text {
  font-size: 30rpx;
  position: relative;
  top: -110rpx;
  font-weight: bold;
  margin-left: 20rpx;
  
}

.te {
  font-size: 30rpx;
}

.te2 {
  font-size: 28rpx;
  color: #ababab;
  padding-left: 350rpx;
}

.goods6 {
  position: relative;
  top: -33rpx;
  margin-left: 20rpx;
}

.theorder {
  width: 100%;
}

.theorder2 {
  width: 690rpx;
  margin: 0 auto;
  border-radius: 20rpx;
  background: #fff;
}

.theorder3 {
  width: 633rpx;
  height: 120rpx;
  margin: 0 auto;
  border-top: 2rpx solid #f5f5f5;
}

.theorder3 view {
  display: inline-block;
}

.numbertext {
  font-size: 30rpx;
  font-weight: bold;
  color: #999;
}

.theorder3 button {
  width: 95rpx;
  height: 45rpx;
  font-size: 24rpx;
  padding-left: 15rpx;
  padding-right: 15rpx;
  border-radius: 0rpx;
  line-height: 40rpx;
  background-color: transparent;
  border: 2rpx solid #999;
  margin: 0rpx;
  float: right;
}

.d{
  float: right;
  margin-right: 15rpx;
  font-size: 30rpx;
}

.serialnumber {
  margin-top: 40rpx;
}

.timetext3{
  font-size: 36rpx;
  font-weight: bold;
  float: right;
}

.timetext{
  font-size: 30rpx;
  color: #666666;
  float: right;
}

.th{
  margin-top: 22rpx;
}

.th2{
  height: 200;
}

.serialnumber6{
  width: 633rpx;
}


.timetext2{
  font-size: 28rpx;
  color: #969696;
  float: right;
}


