.qb {
  background-color: #f5f5f5;
  position: relative;
  height: 1070rpx;
}

.tb_text text {
  font-size: 16px;
  position: fixed;
  top: 60rpx;
  left: 296rpx;
  color: #fff;
}
.fh {
  position: fixed;
  top: 67rpx;
  left: 24rpx;
  width: 77rpx;
  height: 1000rpx;
}
.fh image {
  width: 20rpx;
  height: 35rpx;
}

.tb {
  position: relative;
}

.tb>.tbbj {
  width: 750rpx;
  height: 425rpx;
}

.tb>.tb_text {
  width: 750rpx;
  height: 80rpx;
  position: fixed;
  top: 0rpx;
  left: 0rpx;
  color: #fff;
  font-size: 16px;
}

.tb_text .bj {
  width: 750rpx;
  height: 140rpx;
}

.tb_text text {
  position: fixed;
  top: 67rpx;
  left: 343rpx;
}

/* 用戶信息 */

.user {
  margin-top: -276rpx;
  margin-left: 170rpx;
}

.mytx {
  position: absolute;
  top: 142rpx;
  left: 24rpx;
  width: 128rpx;
  height: 128rpx;
  border: 2rpx solid white;
  border-radius: 100rpx;
}

.name {
  font-size: 40rpx;
  color: #fff;
  position: relative;
}

.hyxx {
  margin-top: 20rpx;
  position: relative;
  height: 37rpx;
}

.state_icon {
  width: 128rpx;
  height: 37rpx;
}

.state {
  position: absolute;
  top: 2rpx;
  left: 15rpx;
  font-size: 24rpx;
  color: #ba0b14;
}

.user_integral {
  margin-left: 20rpx;
  position: absolute;
  top: 0rpx;
  font-size: 26rpx;
  color: #fff;
}

.hydl {
  position: absolute;
  right: 24rpx;
  top: 194rpx;
  height: 26rpx;
  font-size: 28rpx;
  color: #fff;
  box-shadow: 0rpx 3rpx 7rpx 0rpx rgba(0, 123, 131, 0.25);
  border-radius: 34rpx;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 37rpx;
  padding-top: 10rpx;
  padding-bottom: 28rpx;
  padding-right: 30rpx;
}

/* 我的订单 */

.myorder {
  margin-top: 37rpx;
  position: absolute;
  width: 702rpx;
  height: 239rpx;
  background-color: #fff;
  margin-left: 24rpx;
  border-radius: 20rpx;
}

.myorder_head {
  font-size: 30rpx;
  color: #222;
  width: 702rpx;
  border-radius: 20rpx 20rpx 0 0;
  background-color: #fff;
  border-bottom: 1rpx solid #f5f5f5;
  padding-top: 35rpx;
  padding-bottom: 22rpx;
}

.myorder_head text {
  font-size: 30rpx;
  color: #222;
  padding-left: 24rpx;
}

.jt {
  width: 14rpx;
  height: 22rpx;
  float: right;
  margin-right: 22rpx;
}

.order_block {
  display: inline-block;
  width: 172rpx;
  font-size: 28rpx;
  color: #000;
  text-align: center;
  position: relative;
  margin-top: 30rpx;
}

.order_img {
  width: 51rpx;
  height: 40rpx;
}

.order_num {
  position: absolute;
  top: -8rpx;
  left: 85rpx;
  width: 40rpx;
  height: 20rpx;
  font-size: 20rpx;
  color: #e3241e;
  background-color: #fff;
  border-radius: 12rpx;
  border: solid 2rpx #fe4531;
  line-height: 20rpx;
  text-align: center;
}

.order_title {
  font-size: 28rpx;
  color: #000;
}


/* 个人中心 */

.grzx {
  position: relative;
  margin-left: 24rpx;
  margin-top: 297rpx;
  width: 702rpx;
  height: 500rpx;
  background-color: #fff;
  border-radius: 10rpx;
}

.grzx_head {
  font-size: 30rpx;
  color: #222;
  padding-left: 23rpx;
  padding-top: 28rpx;
  padding-bottom: 25rpx;
  width: 680rpx;
  border-radius: 10rpx 10rpx 0 0;
  background-color: #fff;
  border-bottom: 1rpx solid #f5f5f5;
}

.grzx_block {
  width: 231rpx;
  height: 184rpx;
  text-align: center;
  display: inline-block;
  border-top: 1rpx solid #ededed;
  border-bottom: 1rpx solid #ededed;
  background: rgba(255, 255, 255, 0.1);
}
.border {
  border-top: 1rpx solid #ededed;
  border-right: 1rpx solid #ededed;
}

.grzx_img {
  width: 47rpx;
  height: 43rpx;
  margin-top: 49rpx;
}
.grzx_title{
	font-size: 26rpx;
	color: #434140;
  margin-top: 20rpx;
}
button{
  position: absolute;
  width: 231rpx;
  height: 184rpx;
  background: rgba(255, 255, 255, 0.1);
  line-height: normal;
  padding-bottom: 22rpx;
  border: 1rpx solid #ededed;
}